# Mengabaikan environment Python
cv_env/
__pycache__/

# Mengabaikan environment React
comvis_frontend/node_modules/

# Mengabaikan file model yang terlalu berat untuk Github
comvis_backend/shape_predictor_68_face_landmarks.dat